@page
@model TranslationsBlog.Web.Pages.LightNovel.LightNovelModel
@{
    ViewData["Title"] = "Light Novel";
}

<h3>@Model.LightNovel.Title</h3>
@foreach (var volume in Model.LightNovel.Volumes)
{
    <ul>
        <li>
            Volume @volume.Number
            @foreach (var chapter in volume.Chapters)
            {
                <ul>
                    <li>
                        Chapter @chapter.Number
                        @foreach (var part in chapter.Parts)
                        {
                            <ul>
                                <li>
                                    <a asp-page="/LightNovel/Post" asp-route-lnId="@Model.LightNovel.Id"
                                       asp-route-volId="@volume.Id"
                                       asp-route-chId="@chapter.Id"
                                       asp-route-pId="@part.Id">Part @part.Number</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            }
        </li>
    </ul>
}