@page "{lnId}/{volId}/{chId}/{pId}"
@inject SignInManager<IdentityUser> signInManager
@model TranslationsBlog.Web.Pages.LightNovel.PostModel
@{
    ViewData["Title"] = "Post";
}

@if (signInManager.IsSignedIn(User) && User.IsInRole("Staff"))
{
    <div class="container mb-5">
        <form asp-page="/Delete/DeletePart" asp-route-id="@Model.Part.Id" method="post">
            <a asp-page="/Edit/EditPart" class="btn btn-secondary" asp-route-id="@Model.Part.Id">Edit</a>
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this part')">Delete</button>
        </form>
    </div>
}

<h3 class="text-center">@Model.LightNovel.Title Volume @Model.Volume.Number Chapter @Model.Chapter.Number Part @Model.Part.Number</h3>

<div class="container text-center">
    @Model.Part.Text
</div>